body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}


nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78C19;
    text-decoration: underline;
}

.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    clear: left;
    text-shadow: 2px 2px #BBBBBB; /* Texto com sombra */
}

.titulo-principal::first-letter { /* Primeira letra do título */
    font-weight: bold; 
}

.principal {
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}

.principal strong {
    font-weight: bold;
}

.principal p {
    margin: 1em;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 15%;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFEFE, #BBBBBB);
}

.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin-bottom: 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #BBBBBB;
}

.conteudo-beneficios {
    width: 600px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block; /* Para que a lista fique um ao lado do outro não tem que ter espaços no HTML se ocupar todo espaçamento do HTML*/
    vertical-align: top; /* Para alinhar pelo topo */
}

.imagem-beneficios {
    width: 60%;
    opacity: 1; /* Para usar a transparência, pode ser usada em todos os elementos inclusive cores Ex: rgba(0,0,0,0.3) */
    transition: 400ms;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.6); /* Para usar sombra (Eixo X, Eixo Y), opacidade e cor com transparencia*/
}

.imagem-beneficios:hover {
    opacity: 0.3;
}

.itens {
    line-height: 1.5;    
}

.itens::before {
    content: "★ "
}

.itens:first-child { /* Para que a primeira linha esteja em negrito (nth-child(número na lista) ou last-child)   */
    font-weight: bold;
}

.video {
    width: 560px;
    margin: 2em auto;
}

footer {
    text-align: center;
    padding: 40px 0;
    background: url(../img/bg.jpg);
}

.copy {
    color:white;
    font-size: 13px;
    margin-top: 20px;
}

/* 

Seletores Avançados

Com os seletores avançados do CSS,podemos selecionar os filhos diretos de <main>, para tanto, utilizaremos o sinal >, e todo os outros parágrafos serão ignorados, afinal são filhos diretos da <section> e não de <main>.

main > p {
    background: red; 
}


Neste caso, usamos img como elemento âncora e para o primeiro irmão usamos o sinal de "+", para o segundo irmão usamos o sinal de "~".


img + p { 
    background: blue;



img ~ p {
    background: yellow
} 


No CSS podemos, inclusive, excluir itens específicos. Se quisermos excluir todos os parágrafos que não compõe missao, escreveremos:

.principal p:not(#missao) {
    background: orange;
}

*/

