body {
    margin: 0px;
}
#banner {
    width: 100%;
}


.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

em strong {
    color: #ff0000;
}

#missao {
    font-size: 20px;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: white;
    padding: 20px;
}

.principal {
    background: #e9e7e7;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.imagembeneficios {
    width: 50%;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}